* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

/* heading css */
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 60px;
    font-size: 20px;
    color: white;
}

.ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;

}


/* hero page */
.hero {
    background: url("https://images.unsplash.com/photo-1631477076114-9123f721b9dc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

p {
    margin: 0 20px;
    font-size: 40px;
}

#hero_title {
    font-size: 40px;
}

/* button {
    background-color: rgba(255, 166, 0, 0.603);
    color: white;
    font-size: 60px;
    font-weight: bold;
    border: none;
    border-radius: 5px;

} */

/*  ABOUT SECTION */
.about {
    display: flex;
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4;
    gap: 20px;
}

.aboutheading {
    font-size: 80px;
}

.aboutleft {
    width: 50%;
    margin: auto;
    padding: 10px;
}

p {
    margin-top: 20px;
    font-size: 30px;
}

.aboutright {
    width: 50%;

}

.aboutimage {
    width: 800px;
    border-radius: 10px;

}

/* Contact */
.contact {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
 
}

.contact-left {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 40%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}


.contact-left  h1{
    margin: 20px 0;
    font-size: 40px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 20px
}

form input, form textarea{
    padding: 10px 15px;
   border: 1px solid grey;
   font-size: 16px;
}

form button{
    padding: 10px 20px;
    font-size: 18px;
    margin: auto;

    /* width: 100px; */
    
}

.contact-right {
    width: 50%;
}

iframe{
    width: 100%;
    border-radius: 5px;
}

/* footer */
footer{
    /* text-align: center; */
    background-color: black;
    /* padding: 15px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}